<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
          <div
            class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <a
              href="/Coopdepa"
              class="font-semibold text-greenleaf-600"
              ><span class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">
                COOPDEPA<span aria-hidden="true"
                  >&rarr;</span
                >
              </span>
            </a>
          </div>
        </div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8">
          Cooperativa de servicios múltiples de comerciantes detallistas y panaderos y afines inc.
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Somos institucion al servicio de los comerciantes, detallista y panaderos afines con el proposìto de fortalecerlos en el orden economico social.
        </p>
      </div>
     
      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500 flex-col flex">
          <strong class="text-greenleaf-500 whitespace-pre-line" >Para transmitar los prestamos solo nececitas:</strong> 
          <samp> ✅ Ser socio de la cooperativa.</samp>
          <samp> ✅ Fotocopia de la cedula de identidad electoral</samp> 
          <samp> ✅ Tener una micro empresa o negocio</samp> 
          <samp> ✅ Llenar solicitud de prestamos</samp> 
          <samp> ✅ Presentar documento y/o facturas de su negocio</samp> 
        </div>
        <div class="text-gray-500 whitespace-pre-line">
          <strong class="text-greenleaf-500"> Principales benefios: </strong> <br>
          <samp>Cooperativa Coopdepa lleva los servicios financiaeros a su propio negocio.</p>
         <samp>Plazos de pagos muy comodos y baja tasa de interès</p>
         <samp> Asistencia tècnoca gratuita dentro del àmbito mismo de su negocio.</p>
        </div>
        <div class="text-gray-500">
          <strong class="text-greenleaf-500">Otros prestamos:</strong> 
          <br>
          <samp>Tambien otorgamos varios tipos de fincanciamientos, de los cuales detallamos:</samp>
          <ul>
            <li> <samp> Prestamos Inventarios de Negocio </samp> </li>
            <li> <samp> Compra de Vehiculo </samp> </li>
            <li> <samp> Prestamos Hipotecarios </samp> </li>
            <li> <samp> Reparacion y compra de Vivienda </samp> </li>
          </ul>
        </div>
      </dl>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-gray-100 p-8 rounded-3xl">
        <img
          alt="#_"
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="/logocoopdepa.png"
        />
      </div>
    </div>
    
  </div>
</section>
