<div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-20 ">
    <h2 class="text-[#355b19] font-medium text-xl lg:text-3xl lg:mb-5">Nuestra filosofía</h2>
    <div class="mb-4">
      <h3  class="block mb-2 lg:text-2xl lg:mb-3">Misión</h3>
        <p class="text-xs italic text-gray-500 lg:text-xl lg:mb-1">Nuestra misión es brindar a comerciantes, minoristas, panaderos y relacionados, formación constante, facilitándoles recurso para promover políticas solidarias de ahorro, préstamos y distribución de servicios, sustentados en los principios y valores del cooperativismo.</p>
    </div>

    <div class="mb-4">
      <h3 class="block mb-2 lg:text-2xl lg:mb-3">Visión</h3>
      <p class="text-xs italic text-gray-500 lg:text-xl lg:mb-1">Ser referente en la precisión de préstamos, soluciones de ahorro y destrucción de servicios para comerciantes, minoristas, panaderos y relacionados.</p>
    </div>

    <h2 class="block mb-2 text-[#355b19] font-medium text-xl lg:text-3xl lg:mb-5">Valores</h2>
    <div class="mb-6">
        <h3 class="block mb-2 lg:text-2xl lg:mb-3"> Honestidad</h3>
      <p class="text-xs italic text-gray-500 lg:text-xl lg:mb-1"> Realizamos nuestro trabajo con transparencia, lealtad e instegridad.</p>
    </div>

    <div class="mb-6">
        <h3 class="block mb-2 lg:text-2xl lg:mb-3"> Enogue al socio</h3>
      <p class="text-xs italic text-gray-500 lg:text-xl lg:mb-1"> Satiscamos las necesidades de nuestros socios a traves de una asesoria profesional responsable.</p>
    </div>

    <div class="mb-6">
        <h3 class="block mb-2 lg:text-2xl lg:mb-3"> Compromiso</h3>
      <p class="text-xs italic text-gray-500 lg:text-xl lg:mb-1"> Estamos orientados a incentivar al desarrolo sostenido de los socios y a mejorar su calidad de vida </p>
    </div>
 
  </div>