<!-- component -->
<div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-xl text-center">
        <h2 class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">history</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">We changend history (legends)</p>
      </div>
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
        <figure class="rounded-2xl bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1">
          <blockquote class="p-6 text-lg font-semibold leading-7 tracking-tight text-gray-900 sm:p-12 sm:text-xl sm:leading-8">
            <p>“Learn from yesterday , live for taday , hop for tomorrow. The important thing is not to stop questioning. ”</p>
          </blockquote>
          <figcaption class="flex flex-wrap items-center gap-x-4 gap-y-4 border-t border-gray-900/10 px-6 py-4 sm:flex-nowrap">
            <img class="h-10 w-10 flex-none rounded-full bg-gray-50" src="" alt="">
            <div class="flex-auto">
              <div class="font-semibold">Albert Einstein</div>
              
            </div>
            
          </figcaption>
        </figure>
        <div class="space-y-8 xl:contents xl:space-y-0">
          <div class="space-y-8 xl:row-span-2">
            <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
              <blockquote class="text-gray-900">
                <p>“Juventus is against racism and this club has to celebrate whith different religions and other people.”</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="" alt="">
                <div>
                  <div class="font-semibold">Juventus's old lady</div>
                  
                </div>
              </figcaption>
            </figure>
  
            <!-- More testimonials... -->
          </div>
          <div class="space-y-8 xl:row-start-1">
            <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
              <blockquote class="text-gray-900">
                <p>“Everithing on earth is a game. A passing thing. We all end up dead. We all end up the same, don't we ?”</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                
                <div>
                  <div class="font-semibold">Legend Pele</div>
                </div>
              </figcaption>
            </figure>
  
            <!-- More testimonials... -->
          </div>
        </div>
        <div class="space-y-8 xl:contents xl:space-y-0">
          <div class="space-y-8 xl:row-start-1">
            <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
              <blockquote class="text-gray-900">
                <p>“If there is a book that you want to read but it's not yet out, the you must be the one to write it.”</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="" alt="">
                <div>
                  <div class="font-semibold">William Shakespeare</div>
                 
                </div>
              </figcaption>
            </figure>
  
            <!-- More testimonials... -->
          </div>
          <div class="space-y-8 xl:row-span-2">
            <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
              <blockquote class="text-gray-900">
                <p>“Lots of legends, lots of people have come before me, but this is my time.”</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="" alt="">
                <div>
                  <div class="font-semibold">Usain Bolt</div>
                
                </div>
              </figcaption>
            </figure>
  
            <!-- More testimonials... -->
          </div>
        </div>
      </div>
    </div>
  </div>