<section aria-labelledby="pricing-section" id="pricing">
  <div class="lg:px-16 max-w-7xl md:px-12 mx-auto px-8 pb-12 pt-20 scroll-mt-12">
    <div class="text-center max-w-3xl mx-auto">
      <h2
        class="text-4xl tracking-tight font-medium text-[#355b19] md:text-5xl font-display"
      >
        Podemos darte una mano 
      </h2>
    </div>
  </div>
  <div class="items-center px-8 lg:pt-8 pb-15 mx-auto max-w-7xl lg:px-10">
    <div
      class="grid max-w-2xl grid-cols-1 py-4 -mx-4 sm:grid-cols-2 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-3 xl:gap-x-4 lg:bg-[#355b19] lg:border border-gray-500/10 lg:rounded-3xl"
    >
      <section class="flex flex-col px-6 rounded-3xl lg:py-8">
        <h3 class="mt-5 text-lg text-black lg:text-white font-display">Hazte Socio</h3>
        <p class="mt-2 text-sm text-greenleaf-800 lg:text-gray-50 ">
          Sé parte de nuestra gran familia, una familia en donde apoyamos tus sueños y confiamos en que tú puedes alcanzarlos.
        </p>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Vamos</a
        >
      </section>
      <section class="flex flex-col px-6 rounded-3xl lg:py-8">
        <h3 class="mt-5 text-lg text-black lg:text-white  font-display">Create tu futuro con nostros</h3>
        <p class="mt-2 text-sm text-greenleaf-700 lg:text-gray-50">
          No se si lo sabias pero, mas que tu cartera, nos interesas tú y tu bien estar. Esa es la razón por la que siempre estaremos aquí para ti.
        </p>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Creemos</a
        >
      </section>
      <section class="flex flex-col px-6 rounded-3xl lg:py-8">
        <h3 class="mt-5 text-lg text-black lg:text-white  font-display">Solicita tu prestamos</h3>
        <p class="mt-2 text-sm text-greenleaf-900 lg:text-gray-50">
          Dale un empujón a ese negocio, compra la casa o el vehículo que siempre has querido. Con nuestros préstamos a tasas sumamente bajas, puedes olvidarte de esas grandísimas cuotas.
        </p>
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Tu futuro!</a
        >
      </section>
  
    </div>
    <div class="mx-auto pt-12 lg:py-16">
      <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/ra.jpeg" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/ra2.jpeg" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/ra.jpeg" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/ra2.jpeg" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/ra.jpeg" />
        </div>
        <div class="flex justify-center col-span-1 px-8">
          <img alt="logo"  src="/ra2.jpeg" />
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
