<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-[#355b19] md:text-5xl font-display"
        >
         Nuestros servios finacieros
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
        Cooperativa de servicios múltiples de comerciantes detallistas y panaderos y afines inc.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-[#355b19] rounded-xl flex h-10 w-10 lg:mx-auto border-solid border-2 border-amber-400"
                > 
                  <ion-icon
                    size="large"
                    style="#283CFF"
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4 text-white"
                    name="server-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-[#355b19] font-display tracking-tight"
                >
                  Cuentas de ahorro
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Tu cuenta de ahorro, sea con libro o con tarjeta, es libre de cargos y comisiones. Puedes realizar tus transacciones en cualquiera de nuestras sucursales o a través de la red de subagentes a nivel nacional.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-[#355b19] rounded-xl flex h-10 w-10 lg:mx-auto border-solid border-2 border-amber-400"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4 text-white"
                    name="cash-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-[#355b19] font-display tracking-tight"
                >
                  Prestamos
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Te ofrece diferentes opciones para suplir tus necesidades en créditos personales y para el desarrollo de tu negocio. Accede al financiamiento que necesitas, solicítalo hoy mismo.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-[#355b19] rounded-xl flex h-10 w-10 lg:mx-auto border-solid border-2 border-amber-400"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4 text-white"
                    name="analytics-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-[#355b19] font-display tracking-tight"
                >
                  Certificado de aportación
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Con una suma pequeña cantidad depositada en su cuenta de ahorros y aportacion, se hace socio de esta cooperativa con derecho a disfrutar de todos los sercios mientras aoprta al desarollo.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-[#355b19] rounded-xl flex h-10 w-10 lg:mx-auto border-solid border-2 border-amber-400"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4 text-white"
                    name="server-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-[#355b19] font-display tracking-tight"
                >
                  Ahorros a la vista.
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Adicional a sus aportacions, puede depositar y retirar sus ahorro cuando quiera, con solo presentar su libreta, donde le ofrecemos tasas de interes competitivos.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-[#355b19] rounded-xl flex h-10 w-10 lg:mx-auto border-solid border-2 border-amber-400"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4 text-white"
                    name="stats-chart-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-[#355b19] font-display tracking-tight"
                >
                  Certificados a plazo fijo
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Estammos ofreciendo estos instrumento de inversion con busnos beneficios, con los que nuestros socios podran contrubuir al incremento de los fondos para los prestamos a nuestro socios comerciantes, detallista, panaderos y emprendedores.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-[#355b19] rounded-xl flex h-10 w-10 lg:mx-auto border-solid border-2 border-amber-400"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4 text-white"
                    name="briefcase-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-[#355b19] font-display tracking-tight"
                >
                  Otros servicios
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Ademas de los servicios financieros, ofrecemos otros servicios como: pago de facturas, recargas de celular, giros, pago de remesas, entre otros.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
