      <footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-15"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 items-center justify-center gap-x-8 gap-y-24">
    
      <div class="md:grid md:grid-cols-2 xl:grid-cols-3 xl:items-center xl:justify-center md:gap-8 text-sm text-gray-400 lg:col-span-3 lg:justify-center lg:items-center">
        
        <div>
          <a
          href="/"
          class="xl:col-span-1 text-black gap-3 mb-4 justify-center items-center flex flex-col"
        >
           <!-- <svg class="h-4" viewBox="0 0 78 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M55.5 0H77.5L58.5 32H36.5L55.5 0Z" class="ccustom" fill="#283CFF"></path> <path d="M35.5 0H51.5L32.5 32H16.5L35.5 0Z" class="ccompli1" fill="#5263FF"></path> <path d="M19.5 0H31.5L12.5 32H0.5L19.5 0Z" class="ccompli2" fill="#808CFF"></path> </svg> -->
           <img src="/image.png" alt="COOPDEPA" class="ccompli1 w-[82px] h-[82px] aspect-auto">
           <!-- <span class="font-bold font-display">COOPDEPA</span>  -->
        </a>
          <h3 class="text-lg text-[#355b19] font-medium tracking-tight text-center">
            COOPDEPA    
          </h3>
          <ul role="list" class="mt-4 space-y-1 text-center">
            <li>
              <a href="/" class=" hover:text-black text-center">
                <ion-icon name="call-outline"></ion-icon>
                809-274-6493
              </a>
            </li>
            <li>
              <a href="/faq" class=" hover:text-black">
                informacion@coopdepa.com  
              </a>
            </li>
            <li>
              <a href="/terms" class=" hover:text-black">
                Estamos localizados en la Avenida Nicolás de Ovando No. 199  
              </a>
            </li>
            
          </ul>
        </div>

        <div class="mt-12 md:mt-0 lg:justify-center lg:items-center xl:items-center xl:justify-normal justify-center items-center flex flex-col  ">
          <h3 class="text-lg text-[#355b19] font-medium tracking-tight">
            Nuestros Servios
          </h3>
          <ul role="list" class="mt-4 space-y-1 text-center">
            <li>
              <a
                href="/"
                class=" hover:text-black"
              >
                Certificados de aportaciones
              </a>
            </li> <li>
              <a
                href="/"
                class=" hover:text-black"
              >
                Cuentas de ahorros
              </a>
            </li>
            <li>
              <a
                href="/"
                class=" hover:text-black"
              >
                Prestamos
              </a>
            </li>
          </ul>
        </div>

        <div class="mt-12 md:mt-0 justify-center items-center flex flex-col ">
          <h3 class="text-lg text-[#355b19] font-medium tracking-tight"> Sociales </h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a
                href=""
                class=" hover:text-black"
              >
                @??
              </a>
            </li>
            <li>
              <a
                href=""
                class=" hover:text-black"
              >
                @Coopdepa
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
<footer class="bg-white">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6 ">
    <div class="border-t pt-6">
      <p class="text-sm text-neutral-600 lg:col-span-2 ">
        © 2024  Coopdepa. Todos los derechos reservados. <a
          class="text-sm text-black hover:text-[#426B1F] underline"
          href="https://github.com/sorido0">Dev.sorido</a
        > 
      </p>
    </div>

  </div>
</footer>
